antlr4-python3-runtime==4.7.2
asttokens==2.0.5
backcall==0.2.0
Bottleneck==1.3.5
certifi==2023.7.22
cf-units==3.2.0
cftime==1.6.2
click==8.0.4
cloudpickle==2.2.1
contourpy==1.0.5
coverage==7.2.2
cycler==0.11.0
dask==2023.6.0
decorator==5.1.1
executing==0.8.3
fonttools==4.25.0
fsspec==2023.4.0
importlib-metadata==6.0.0
iniconfig==1.1.1
ipython==8.12.0
jedi==0.18.1
Jinja2==3.1.2
kiwisolver==1.4.4
locket==1.0.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
munkres==1.1.4
netCDF4==1.6.2
numexpr==2.8.4
numpy
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pip==23.1.2
pluggy==1.0.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyflakes==3.0.1
Pygments==2.15.1
pyparsing==3.0.9
pyproj==3.4.1
pyshp==2.1.3
pytest==7.4.0
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0
reverse-geocoder==1.5.1
scipy==1.9.3
scitools-iris==3.6.1
setuptools==67.8.0
shapely==2.0.1
six==1.16.0
stack-data==0.2.0
toolz==0.12.0
traitlets==5.7.1
wcwidth==0.2.5
wheel==0.38.4
xxhash==2.0.2
zipp==3.11.0

